{% extends 'base.html' %}
<!--  -->

{% block title %}{{survey_title}}{% endblock %}
<!--  -->
{% block content %}
<p>{{instructions}}</p>

{% for msg in get_flashed_messages() %}
  <p>{{ msg }}</p>
{% endfor %}

<form action="/add-answer" method="POST">
  <p>{{question}}</p>
  {% for choice in choices %}
  <input
    type="radio"
    id="{{choice}}"
    name="answer"
    value="{{choice}}"
    checked
  />
  <label for="{{choice}}">{{choice}}</label><br />

  {% endfor %}
  <button>Next</button>
</form>
{% endblock %}
